<div class='row'>
  <div class='col-md-4'><%= link_to image_tag("http://lorempixel.com/320/240/cats", class: 'media-object'), '#' %></div>
  <div class='col-md-8'>
    <h4 class="media-heading"><%= @article.name %></h4>
    <%= @article.content %>
  </div>
</div>
